<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css">
    <link rel ="stylesheet" href="/css/slide.css">
    <style>
    .result-wrap{
    	margin-left : 100px;
    }
	.ad-banner{
		text-align: center;
		margin-top: 50px;
	}
	.no-result{
		margin: 80px auto;
		width: 1200px;
		font-family: ns-r;
		font-size: 20px;
		
	}
	body{
	    display: flex;
	    flex-direction: column;
	    height: 100vh;
	}
	.page-section{
		flex-grow: 1;
	}
   </style>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    <section class="page-section" id="services">
    <div class="container-fluid mt-3">
        <div class="result-wrap text-start mt-4" style="width: 1200px; margin: 0 auto;">
            <span class="fw-bold" style="font-size: 30px; font-family: ns-r;">"</span>
            <span id="searchKeyword" class="fw-bold text-orange" style="font-size: 30px; font-family: ns-r; color: orange;" th:text="${query}"></span>
         	<span class="fw-bold" style="font-size: 30px; font-family: ns-r;">" 의 검색 결과</span>
        </div>
        <div class="result-keyword-wrap mt-2">
            <input type="hidden" id="queryValue" th:value="${query}">
        </div>
    	<div class="container mt-2" id="slidebody-wrap">
		    <div id="movieCarousel1" class="carousel slide" > <!-- data-bs-ride="carousel" -->
		        <div class="carousel-inner" id="carousel1"></div>
		        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel1" data-bs-slide="prev">
		            <span class="carousel-control-prev-icon"></span>
		        </button>
		        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel1" data-bs-slide="next">
		            <span class="carousel-control-next-icon"></span>
		        </button>
		    </div>
		</div>
		<div class="ad-banner">
			<img src="/image/bannerad_0.jpg" alt="배너광고" style="width: 1200px; margin-bottom: 40px;">
		</div>
    </div>
	</section>
    <th:block th:include="common/footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script inline="javascript">
	    const query = $("#queryValue").val().trim();
	    if (!query || query === "undefined") {
	        $("#searchKeyword").text(" ");
	        createNoResultDiv();
	        $("#slidebody-wrap").css("display", "none");
	    }else{
		    $("#searchKeyword").text(query);
		    search();
	    }
	    function search(){
			$.ajax({
				url : "/api/searchResult",
				type : "get",
				data : {"query":query},
				success : function(movies){
					const carouselContent = $("#carousel1");
	                if (!movies || movies.length === 0) {
	                    createNoResultDiv();
	                    $("#slidebody-wrap").css("display", "none");
	                } else {
	                    makeSlide(movies, carouselContent);
	                }
				}    
			});
		}

	    function createNoResultDiv() {
	        const noResultDiv = `
	            <div class="no-result">
	                <span class="text-danger" style="font-size: 24px; font-fmaily: ns-b; padding-left: 50px;">
	                검색 결과가 없습니다. 다른 검색어를 입력해보세요.
	                </span>
	            </div>
	        `;
	        $(".ad-banner").before(noResultDiv);
	    }
	    
	    function makeSlide(obj1,obj2){
			const movies = obj1;
			const carouselContent = obj2;
	        let slideIndex = 0;
	        let indexNo= 1;
	        for (let i = 0; i < movies.length; i += 5) {
	            let moviesSlice = movies.slice(i, i + 5);
	            let isActive = slideIndex === 0 ? "active" : "";
	            let slide = $("<div>").addClass(`carousel-item ${isActive}`);
	            let row = $("<div>").addClass("row d-flex ");
	            $.each(moviesSlice, function (index, movie) {
	                let col = $("<div>").addClass("col-md-2 mx-1");
					let imgSrc = "https://image.tmdb.org/t/p/w342";				
	                if(movie.posterPath!=null){
	                	imgSrc += movie.posterPath;
	                }else{
	                	imgSrc = "/image/No_Image.jpg";
	                }
	                let card = $("<div>").addClass("card");
	                const id = movie.movieId;
	                card.on('click',function(){
	                	location.href = "/api/movieDetail?movieId="+id;
	                });
	                let rankBadge = $("<div>").addClass("rank-badge").text(indexNo++);
	                let img = $("<img>").addClass("card-img-top").attr("src", imgSrc);
	                let imgDiv = $("<div>").addClass("img-div").append(img);
	
	                let cardBody = $("<div>").addClass("card-body");
	                let title = $("<div>").addClass("card-title").text(movie.title);
	                let info = $("<div>").addClass("card-info").text(movie.releaseDate);
	                
	                let rating = $("<div>").addClass("rating");
	                let genreInfo = $("<div>").addClass("genre-info");
	    			if((movie.genreIds).length==0){
	    				genreInfo.text("");
	    			}
	                $.each(movie.genreIds, function(index, genre){
	                	const p = $("<p>").append(genre);
	                	genreInfo.append(p);
	                });
	                cardBody.append(title, info, rating, genreInfo);
	                card.append(rankBadge, imgDiv, cardBody);
	                col.append(card);
	                row.append(col);
	            });
	            slide.append(row);
	            carouselContent.append(slide);
	            slideIndex++;
	        }
		}
	
	    $(document).ready(function() {
		    let position = 'H';
		    let requestUrl = '/admin/adUrl';
		    $.ajax({
		        url: requestUrl,              
		        type: 'GET',
		        data: {"position" : position},
		        dataType: 'text',
		        success: function(adUrl) {
		            $(".ad-banner img").attr("src", "/image/"+adUrl);
		        },
		        error: function(xhr, status, error) {
		        }
		    });
		});
	    
	</script>
</body>
</html>
