<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>News Update</title>
<style>
	.news-update-wrap{
		width: 1000px;
		margin: 0 auto;
	}
	.news-update-wrap .input-item>input[type=text]{
		padding: 0;
		border-bottom: none;
	}
	.file-wrap{
		display: flex;
		gap: 20px;
	}
	.files{
		display: flex;
		align-items: center;
	}
	.files>.del-btn{
		font-size: 10px;
		cursor: pointer;
		color: #ff3d00;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section news-update-wrap">
			<div class="page-title">소식 수정</div>
			<form action="/news/update" class="news-update-frm" method="post" enctype="multipart/form-data">
				<table class="tbl">
					<tr>
						<th style="width:15%;">제목</th>
						<td>
							<div class="input-item">
								<input type="text" name="newsTitle" th:value="${n.newsTitle}">
							</div>
						</td>
					</tr>
					<tr>
						<th>첨부파일</th>
						<td>
							<div class="file-wrap">
								<div th:each="file : ${n.fileList}" class="files">
									<span class="delFilename" th:text="${file.filename}"></span>
									<span class="material-icons del-btn" th:onclick="deleteFile([[${file.newsFileNo}]], this);">delete</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>추가파일</th>
						<td class="left">
							<input type="file" name="upfile" multiple>
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td class="left">
							<textarea name="newsContent" th:utext="${n.newsContent}"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit" class="btn-primary lg">수정하기</button>
							<a class="btn-secondary lg" th:href="@{/news/view(newsNo=${n.newsNo},check)}">취소</a>
						</td>
					</tr>
				</table>
				<input type="hidden" name="newsNo" th:value="${n.newsNo}">
			</form>
		</section>
	</main>
	<script src="/js/sweetalert.min.js"></script>
	<script>
		function deleteFile(newsFileNo, obj){
			swal({
				title: "파일 삭제",
				text: "첨부파일을 삭제하시겠습니까?",
				icon: "info",
				button: {
					cancel: {
						text: "취소",
						value: false,
						visible: true,
						className: "btn-secondary",
						closeModal: true
					},
					confirm: {
						text: "삭제",
						value: true,
						visible: true,
						className: "btn-primary",
						closeModal: true
					}
				}
			}).then(function(isConfirm){
				if(isConfirm){
					const input = $("<input>");
					input.attr("name","delFileNo");
					input.attr("type","hidden");
					input.val(noticeFileNo);
					$(".news-update-frm").append(input);
					$(obj).parent().remove();
				}
			});
		}
	</script>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<script>
		$("[name=newsContent]").summernote({
			height: 500,
			lang: "ko-KR"
		});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>