<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>소식 작성</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
	.news-write-container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.news-write-wrap{
		width: 1000px;
	}
	.news-write-wrap .input-item>input[type=text]{
		border-bottom: none;
		padding: 0;
	}
	.news-write-wrap .input-item>textarea{
		height: 300px;
	}
	.section{
		margin-top: 50px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content news-write-container">
		<section class="section news-write-wrap">
			<div class="page-title">소식 작성</div>
			<form action="/news/write" method="post" enctype="multipart/form-data">
				<table class="tbl">
					<tr>
						<th>제목</th>
						<td colspan="3">
							<div class="input-item">
								<input type="text" name="newsTitle">
							</div>
						</td>
					</tr>
					<tr>
						<th style="width:10%;">작성자</th>
						<td style="width:40%;">
							<span th:text="${session.member.memberId}"></span>
							<input type="hidden" name="memberId" th:value="${session.member.memberId}">
						</td>
						<th style="width:10%;">첨부파일</th>
						<td style="width:40%;">
							<input type="file" name="upfile" multiple>
						</td>
					</tr>
					<tr>
						<td class="left" colspan="4">
							<textarea name="newsContent"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="4">
						    <div class="insert" style="display: flex; align-items: center; gap: 10px; justify-content: center;">
						      <input class="form-check-input" type="checkbox" id="newsNotice" name="newsNotice" value="1">
						      <label class="form-check-label" for="newsNotice">상단에 고정하기</label>
						      <button type="submit" class="btn btn-primary">소식 등록</button>
						    </div>
					 	</td>
							<button type="submit" class="btn-primary lg">소식 등록</button>
						</td>
					</tr>
				</table>
			</form>
		</section>
	</main>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<script>
		$("[name=newsContent]").summernote({
			height: 500,
			lang: "ko-KR",
			callbacks : {
				onImageUpload : function(file){
					uploadImage(file[0],this);
				}
			}
		});
		function uploadImage(file, editor){
			const form = new FormData();
			form.append("upfile",file);
			$.ajax({
				url : "/news/editorImage",
				type : "post",
				data : form,
				processData : false,
				contentType : false,
				success : function(data){
					$(editor).summernote("insertImage","/news/editor/"+data);
				}
			});
		}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>