<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<style>
	*{
	font-family: ns-r;
	}
	.input-wrap{
	display:flex;
	width: 100%;
	}
	.join-wrap{
		width: 1000px;
		margin: 0 auto;
		padding-top : 150px;
		text-align: center
	}
	.join-wrap .input-wrap{
		padding : 15px 30px;
	}
	.join-button-box{
	padding : 20px 30px;
	}
	.join-button-box>button{
		width: 100%
	}
	.valid{
	color : blue;
	}
	.invalid{
	color : red;
	}
	.email-wrap{
	display: flex;
	width:100%;
	}
	input{
	border :none;
	border-bottom: 1px solid black;
	width : 100%;
	align-content: left;
	}
	.input-title{
	padding-top: 10px;
	width: 20%;
	}
	.input-type{
	width: 45%;
	display: flex;
	}
	.email{
	width:35%;
	margin-right: 10px;
	}
	.email2{
	width:35%;
	margin-left: 10px;
	}
	.mail{
	margin-left: 10px;
	width: 30%;
	}
	.lg{
	margin-top: 20px;
	}
#send-btn{
margin-left: 10px;	

}
.id-check-btn{
margin-left: 10px;	
width: 100px;
}
#check{
margin-left: 10px;	
}
.page-title{
font-size: 32px;
    font-weight: bold;
height: 60px;
line-height: 60px;
margin-bottom: 20px;	
}
#auth-btn{
	margin-left: 20px;
	}
.input-wrap{
margin-left: 50px;
}
label{
	font-size: 18px;
}
  .lg{
    height: 35px;
    }
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section join-wrap">
			<div class="page-title">사업자회원가입</div>
			<form action="/member/checkId" name="checkIdFrm" method="get">
				<input type="hidden" name="checkId">
			</form>
			<form action="/member/bujoin" method="post" class="form-control" autocomplete="off">
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberId">아이디</label>
					</div>
					<div class="input-type">
						<input type="text" class="form-control" name="memberId" id="memberId">
					</div>
						<button type="button" class="btn-primary id-check-btn">중복체크</button>
					</div>
					<p class="input-msg id-check-msg"></p>
			
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberName">이름</label>
					</div>
					<div class="input-type">
						<input type="text" class="form-control" name="memberName" id="memberName">
					</div>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberPw">비밀번호</label>
					</div>
					<div class="input-type">
						<input type="password" class="form-control"  name="memberPw" id="memberPw">
					</div>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberPwRe">비밀번호 확인</label>
					</div>
					<div class="input-type">
						<input type="password" class="form-control" name="memberPwRe" id="memberPwRe">
					</div>
				</div>
					<p class="input-msg pw-check-msg"></p>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberPhone">전화번호</label>
					</div>
					<div class="input-type">
						<input type="text" class="form-control" name="memberPhone" id="memberPhone">
					</div>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="businessNo">사업자 번호</label>
					</div>
					<div class="input-type">
						<input type="text" class="form-control" name="businessNo" id="businessNo">
						<input type="hidden" name="businessName" id="businessName">
					</div>
					<p class="input-msg  no-check-msg"></p>
					<button type="button" class="btn-primary" id="check">사업자번호  확인</button>
				</div>
				<div class="input-wrap">
					<div class="input-title">
						<label for="memberEmail">이메일</label>
						
					</div>
					<div class="input-type">
					<div class="email-wrap">
						<input type="text" class="email form-control" name="memberEmail1" id="memberEmail1">
						<span>@</span>
						<input type="text" class="email2 form-control" name="memberEmail2" id="memberEmail2">
						<select class="mail form-control">
							<option value="">직접입력</option>
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="daum.net">daum.net</option>
						</select>
						<input type="hidden" name="memberEmail" id="memberEmail">
					</div>
					</div>
						<button type="button" class="btn-primary" id="send-btn" >인증번호 발송</button>
					</div>
					<div id="auth" class="input-item" style="display: none;" >
					<input type="text" id="auth-code" class="form-control" placeholder="인증번호 입력" style="width:30%">
					
					<button  type="button" class="btn-primary " id="auth-btn">인증하기</button>
					<span id="time-zone"></span>
					<span id="authMsg"></span>
				</div>
				<div class=" join-button-box">
					<button type="submit" class="btn-primary lg" style="width: 20%; margin-right:100px;">회원가입</button>
				</div>
			</form>
		</section>
	</main>
	<script>
	document.querySelector("form[action='/member/bujoin']").addEventListener("submit", function (event) {
	    event.preventDefault(); // 기본 제출 막기

	    let isValid = true;
	    let memberId = document.getElementById("memberId").value.trim();
	    let memberPw = document.getElementById("memberPw").value.trim();
	    let memberPwRe = document.getElementById("memberPwRe").value.trim();
	    let memberName = document.getElementById("memberName").value.trim();
	    let memberPhone = document.getElementById("memberPhone").value.trim();
	    let memberEmail = document.getElementById("memberEmail").value.trim();
	    let businessNo = document.getElementById("businessNo").value.trim();
	    let businessName = document.getElementById("businessName").value.trim();
	    if (!memberId || !/^[a-zA-Z0-9]{5,15}$/.test(memberId)) {
	        alert("아이디를 올바르게 입력하세요 (5~15자, 영문 대소문자 및 숫자)");
	        isValid = false;
	    }
	    if (!memberPw || !/^(?=.*[A-Za-z])[A-Za-z]{8,}$/.test(memberPw)) {
	        alert("비밀번호는 8자 이상이며, 영문, 숫자 포함해야 합니다.");
	        isValid = false;
	    }
	   
	    if (!memberName || !/^[가-힣]{2,5}$|^[a-zA-Z]{2,20}$/.test(memberName)) {
	        alert("이름을 올바르게 입력하세요 (한글 2~5자 또는 영문 2~20자)");
	        isValid = false;
	    }
	    if (!memberPhone || !/^010-\d{4}-\d{4}$/.test(memberPhone)) {
	        alert("올바른 전화번호 형식(010-XXXX-XXXX)으로 입력하세요");
	        isValid = false;
	    }
	    if (!memberEmail || !/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(memberEmail)) {
	        alert("올바른 이메일 형식으로 입력하세요");
	        isValid = false;
	    }
	    if (!mailCode) {
	        alert("이메일 인증을 완료해주세요.");
	        isValid = false;
	    }
	    if (!businessNo) {
	        alert("사업자 번호를 입력해주세요.");
	        isValid = false;
	    }

	    // 사업자 번호가 인증되지 않은 경우
	    if (!businessName) {
	        alert("사업자 번호 인증을 완료해주세요.");
	        isValid = false;
	    }
	  
	    if (isValid) {
	        this.submit();
	    }
	});

		$(".id-check-btn").on("click",function(){
			$(".id-check-msg").removeClass("invalid").removeClass("valid");
			const memberId =$("#memberId").val();
			 if (!memberId || !/^[a-zA-Z0-9]{5,15}$/.test(memberId)) {
			        alert("아이디를 올바르게 입력하세요 (5~15자, 영문 대소문자 및 숫자)");
			  }else{
			$("#time-zone").removeId;
			$.ajax({
				url:"/member/ajaxCheckId",
				type :"get",
				data : {memberId : memberId},
				success: function(result){
					if(result){
						$(".id-check-msg").text("사용 가능한 아이디 입니다");
						$(".id-check-msg").addClass("valid");
					}else{
						$(".id-check-msg").text("이미 사용중인 아이디 입니다");
						$(".id-check-msg").addClass("invalid");
					}
				},
				error: function(){
				}
			});
			  }
		});
		$("#memberPwRe").on("focusout",function(){
			$(".pw-check-msg").removeClass("invalid").removeClass("valid");
		    const pwValue = memberPw.value;
		    const pwReValue = memberPwRe.value;
		  
		    if(pwValue==""||pwReValue==""){
		    	$(".pw-check-msg").text("비밀번호를 입력하세요");
				$(".pw-check-msg").addClass("invalid");
		    }else{
		    if(pwValue!==pwReValue){
				$(".pw-check-msg").text("비밀번호가 서로 다릅니다");
				$(".pw-check-msg").addClass("invalid");
			}else{
				$(".pw-check-msg").text("비밀번호가 일치합니다");
				$(".pw-check-msg").addClass("valid");
			}
		    }
		});
		let comapnyName= null;
		let comapnyNo= 0;
		$("#check").on("click",function(){
			$(".no-check-msg").removeClass("invalid").removeClass("valid");
			const businessNo =$("#businessNo").val().trim();
			if(!businessNo){
				$(".no-check-msg").text("사업자 번호를 입력해주세요.");
		        $(".no-check-msg").addClass("invalid");
			}
			$.ajax({
				url :"/company/check",
				type: "get",
				data : {businessNo : businessNo},
				success: function(result){
					 companyName=result.companyName;
					 $("#businessName").val(companyName)
					 $(".no-check-msg").text("존재하는 사업자입니다");
					$(".no-check-msg").addClass("valid");
				},
				error: function(){
					$(".no-check-msg").text("존재하지 않는 사업자입니다");
					$(".no-check-msg").addClass("invalid");
				},
				
			});
		});
	
		$(".mail").on("change",function(){
			const mail=$(this).val();
			$("#memberEmail2").val(mail);
		});
			let mailCode = null;
		$("#send-btn").on("click",function(){
			const memberEmail1 =$("#memberEmail1").val();
			const memberEmail2 =$("#memberEmail2").val();
			const memberEmail= memberEmail1+"@"+memberEmail2
			if(memberEmail1==""||memberEmail2==""){
				alert("이메일을 입력하세요")
			}else{
				
			$.ajax({
				url :"/etc/sendCode",
				type:"get",
				data : {receiver : memberEmail},
				success : function(data){
					 mailCode = data;
					 if (intervalId) {
		                    window.clearInterval(intervalId);
		                }
						$("#auth").show();
						authTime();
						alert("메일이 발송 되었습니다")	
				},
			error: function(){
			}
			});
			}
		});
		$("#auth-btn").on("click",function(){
			const inputCode = $("#auth-code").val();
			if(inputCode === mailCode){
				// 인증만료  >> 랜덤코드가 만료  
				window.clearInterval(intervalId);
				$("#authMsg").text("인증 완료");
				$("#authMsg").css("color","green");
				mailCode = null;
				$("#email").prop("readonly",true);
				$("#send-btn").prop("disabled",true);
				$("#auth-code").prop("readonly",true);
				$("#auth-btn").prop("disabled",true);
				$("#time-zone").removeId;
				const memberEmail1 =$("#memberEmail1").val();
				const memberEmail2 =$("#memberEmail2").val();
				const memberEmail= memberEmail1+"@"+memberEmail2
				$("#memberEmail").val(memberEmail);
			}else{
				$("#authMsg").text("인증 번호를 확인해 주세요");
				$("#authMsg").css("color","red");
			}
		});
		let intervalId =null;
		function authTime(){
			$("#time-zone").html("<span id='min'>3</span> : <span id='sec'>00</span>")
			intervalId = window.setInterval(function(){
				const min =$("#min").text();
				const sec =$("#sec").text();
				if(sec === "00"){
					//읽어온 값이 00초면 분을 내리고
					if(min === "0" ){
						// 인증만료  >> 랜덤코드가 만료  
						window.clearInterval(intervalId);
						mailCode = null;
						$("#authMsg").text("인증 만료");
						$("#authMsg").css("color","red");
					}else{
						const newMin = Number(min) -1;
						$("#min").text(newMin);
						$("#sec").text(59);
					}
				}else{
					//읽어온 값이 00초가 아니면 초만 내리면 됨
					const newSec=Number(sec) - 1;
					if(newSec<10){
						$("#sec").text("0"+newSec);
					}else{
						$("#sec").text(newSec);
					}
				}
			},1000);
		}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>