<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 중복체크</title>
<link rel="stylesheet" herf="/css/BootStrapStyl.css">
<script scr="/js/jquery-3.7.1.js"></script>
<style>
	*{
	font-family: ns-r;
	}
	.page-title{
	font-size: 27px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 20px;	
}
	#check-container{
		width:600px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#check-container>div{
		padding: 50px;
		border-radius: 12px;
		background-color: #dddddd;
	}
	
	.valid-id{
	color: blue;
	}
	.invalid-id{
	color: red;
	}

</style>
</head>
<body>
	<div id="check-container">
	<th:block th:if="${result ==0}">
		<div>
		<div>[<span class="valid-id" th:text="${memberId}"></span>]는 사용 가능합니다</div>
		</div>
	</th:block>
	<th:block th:if="${result ==1}">
		<div>
			<div>[<span class="invalid-id" th:text="${memberId}"></span>]는 이미 사용중입니다</div>
			<form action="/member/checkId" method="get">
				<input type="text" name="checkId" th:value="${memberId}">
				<button type="submit" class="btn-primary">조회</button>
			</form>
		</div>
	</th:block>
	</div>
</body>
</html>