<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.find-container{
	display: flex;
	justify-content: center;
	align-items: center;
	}
.page-title{
	 padding-bottom : 40px;
	 text-align: center;
	}
.id{
	padding-bottom: 50px;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}	
.pw{
	margin-top: 50px;
	padding-bottom: 50px;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}	
</style>
</head>
<body>
<th:block th:include="common/header"></th:block>
	<main class="content find-container">
		<section class="section find-wrap">
			<div class="page-title">아이디/비밀번호 찾기</div>
			<form action="/member/idFindFrm" method="get">
			<button type="submit" class="btn-primary id">아이디 찾기</button>
			</form>
				<form action="/member/pwFindFrm" method="get">
			<button type="submit" class="btn-primary pw">비밀번호 찾기</button>
			</form>
		</section>
	</main>
<th:block th:include="common/footer"></th:block>
</body>
</html>