<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	.find-container{
	display: flex;
	justify-content: center;
	align-items: center;
	}
.page-title{
	 padding-bottom : 40px;
	 text-align: center;
	}
	
	.find-wrap .input-wrap{
		padding : 15px 30px;
	}
	.idfind-button-box{
	padding : 20px 30px;
	}
	.idfind-button-box>button{
		width: 100%
	}
	
</style>
<body>
<th:block th:include="common/header"></th:block>
	<main class="content find-container">
		<section class="section find-wrap">
			<div class="page-title">아이디 찾기</div>
			<form action="/member/idFind" method="get">
			<button type="submit">아이디 찾기</button>
			<div class="input-wrap">
			<div class="input-title">
				<label for="memberName">이름</label>
			</div>
				<div class="input-type">
						<input type="text" name="memberName" id="memberName">
				</div>
				<div class="input-title">
						<label for="memberPhone">비밀번호</label>
				</div>
				<div class="input-type">
					<input type="text" name="memberPhone" id="memberPhone">
				</div>
				<div class="idfind-button-box">
					<button type="submit" class="btn-primary lg">아이디찾기</button>
				</div>
				</div>
			</form>
		</section>
	</main>
<th:block th:include="common/footer"></th:block>
</body>
</html>