<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:include="common/header"></th:block>
<main class="content find-container">
		<section class="section find-wrap">
			<div class="page-title">회원가입</div>
			
		<button id="join">일반 회원가입</button>
			<button id="bu-join">사업자 회원가입</button>
		</section>
	</main>
	<script>
		$("#join").on("click",function(){
		location.href="/member/joinFrm";			
		})
		$("#bu-join").on("click",function(){
		location.href="/member/bujoinFrm";		
		})
	</script>
<th:block th:include="common/footer"></th:block>
</body>
</html>