<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.mypage-container{
	display: flex;
	justify-content: center;
	align-items: center;
	}
.page-title{
	 padding-bottom : 40px;
	
	 text-align: center;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content mypage-container">
		<section class="section">
			<div class="page-title">마이페이지</div>
			<a href="/member/changinfo">정보수정</a>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>