@charset "UTF-8";
	.back-drop{
		display : flex;
		margin-top : 80px;
		margin-bottom : 50px;
		width : 100%;
		height : 550px;
		position : relative;
		justify-content: center;
	}

	.outline>.title{
		font-size : 35px;
		font-weight: bolder;
	}
	.outline{
		width : 60%;
		position : relative;
		top : 300px;
		color : #fff;
		font-size : 20px;
		height: 40%;
	}
	.backdrop-img{
		position: absolute; top:0; left: 0;
	  	width: 100%;
	  	height: 100%;
	}
	.poster-img{
		object-fit : cover;
	}
	.detail-tbl{
		margin-left : 20px;
	}
	
	#rating>.modal-dialog {
		top : 30%;
	}
	#modal>.modal-dialog {
		top : 10%;
	}
	
	.modal>.modal-dialog>.rating-modal{
		height : 500px;
		width : 800px;
		display : flex;
		align-items: center;
	}
	
	.modal>.modal-dialog>.write-modal{
		height : 900px;
		width : 900px;
		display : flex;
		align-items: center;
	}
	.modal>.modal-dialog{
		display : flex;
		justify-content: center;
		align-items: center;		
	}
	
	.modal-body>.text-left{
		margin-top : 40px;
		text-align : left;
		height : 400px;
	}
	.modal-body>div{
		margin-bottom : 40px;
	}
	.modal .btn-wrap{
		margin-top : 50px;	
		display : flex;
		justify-content: center;
		gap : 50px;
	}
	.row-1 .btn-wrap{
		display : flex;
		justify-content: center;
		gap : 50px;
	}
	
	.btn-wrap>.btn{
		display : flex;
		align-items: center;
	}
	.movie-wrap{
		display: flex;			
	}
	
	tbody>tr>.text-box{
		height : 50%;
		background-color: #fcf8e3;
		align-content: center;
		line-height: 40px;
	}
	.star-box{
		height : 50%;
	}
	
		
	.row-1>td{
		width : calc(100%/3);
		align-content: center;
		
	}
	.row-1 div{
		padding : 20px;
		text-align: center;
	}
	.row-1 span{
		font-size : 50px;
		line-height : 50px;
	}
	.row-1 .star-rating{
		display:flex;
		flex-direction: row-reverse;
	  	justify-content:space-around;
	  	text-align:center;
		font-size : 50px;
		line-height : 50px;
		padding-bottom : 0;
	}
	
	.star-rating input {
	  display:none;
	}
	
	.star-hover label {
	  color:#ccc;
	  cursor:pointer;
	}
	.star-rating>input:checked ~ label {
	  color:#FFB200;
	}
	
	.star-hover>input:checked ~ label {
	  color:#FFB200;
	}
	
	.star-hover label:hover,
	.star-hover label:hover ~ label {
	  color:#fc0;
	}
	
	.star-rating>label {
		font-size : 50px;
		line-height : 50px;
	 	color:#ccc;
	}
	.btn-wrap>.liking{
		color: rgb(255, 77, 0);
	}

	.row{
		display:flex;
	}


	
		
		
		