<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LinkS 영화</title>
<link rel ="stylesheet" href="/css/slide.css">
<style>
	.ad-banner{
		text-align: center;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<section class="page-section" id="services">
	    <!-- 슬라이드 형식의 영화 리스트 -->
		    <div class="container mt-5">
		    	<div class="ad-banner">
					<img src="/image/bannerad_0.jpg" alt="배너광고" style="width: 1200px; margin-bottom: 40px;">
				</div>
			</div>
	        <div class="container mt-5">
			    <h2 class="text-left">상영중인 영화</h2>
			    <div id="movieCarousel1" class="carousel slide" > <!-- data-bs-ride="carousel" -->
			        <div class="carousel-inner" id="carousel1"></div>
			        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel1" data-bs-slide="prev">
			            <span class="carousel-control-prev-icon"></span>
			        </button>
			        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel1" data-bs-slide="next">
			            <span class="carousel-control-next-icon"></span>
			        </button>
			    </div>
			</div>
			<div class="container mt-5">
			    <h2 class="text-left">최신 트렌드</h2>
			    <div id="movieCarousel2" class="carousel slide" > <!-- data-bs-ride="carousel" -->
			        <div class="carousel-inner" id="carousel2"></div>
			        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel2" data-bs-slide="prev">
			            <span class="carousel-control-prev-icon"></span>
			        </button>
			        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel2" data-bs-slide="next">
			            <span class="carousel-control-next-icon"></span>
			        </button>
			    </div>
			</div>
			<div class="container mt-5">
			    <h2 class="text-left">인기 영화</h2>
			    <div id="movieCarousel3" class="carousel slide" > <!-- data-bs-ride="carousel" -->
			        <div class="carousel-inner" id="carousel3"></div>
			        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel3" data-bs-slide="prev">
			            <span class="carousel-control-prev-icon"></span>
			        </button>
			        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel3" data-bs-slide="next">
			            <span class="carousel-control-next-icon"></span>
			        </button>
			    </div>
			</div>
			<div class="container mt-5">
			    <h2 class="text-left">개봉 예정</h2>
			    <div id="movieCarousel4" class="carousel slide" > <!-- data-bs-ride="carousel" -->
			        <div class="carousel-inner" id="carousel4"></div>
			        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel4" data-bs-slide="prev">
			            <span class="carousel-control-prev-icon"></span>
			        </button>
			        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel4" data-bs-slide="next">
			            <span class="carousel-control-next-icon"></span>
			        </button>
			    </div>
			</div>
        </section>
    <script>
	function nowPlaying(){
		$.ajax({
			url : "/api/nowPlaying",
			type : "get",
			success : function(movies){
				const carouselContent = $("#carousel1");
				makeSlide(movies,carouselContent);
			}    
		});
	}
	function trend(){
		$.ajax({
			url : "/api/trend",
			type : "get",
			success : function(movies){
				const carouselContent = $("#carousel2");
				makeSlide(movies,carouselContent);
			}    
		});
	}
	function popular(){
		$.ajax({
			url : "/api/popular",
			type : "get",
			success : function(movies){
				
				const carouselContent = $("#carousel3");
				makeSlide(movies,carouselContent);
			}    
		});
	}
	function comming(){
		$.ajax({
			url : "/api/upcomming",
			type : "get",
			success : function(movies){
				const carouselContent = $("#carousel4");
				makeSlide(movies,carouselContent);
			}    
		});
	}
	
	
	
	function makeSlide(obj1,obj2){
		const movies = obj1;
		const carouselContent = obj2;
        let slideIndex = 0;
        let indexNo= 1;
        for (let i = 0; i < movies.length; i += 5) {
            let moviesSlice = movies.slice(i, i + 5);
            let isActive = slideIndex === 0 ? "active" : "";
            let slide = $("<div>").addClass(`carousel-item ${isActive}`);
            let row = $("<div>").addClass("row d-flex justify-content-center");

            
            $.each(moviesSlice, function (index, movie) {
                let col = $("<div>").addClass("col-md-2 mx-1");

                const imgSrc = "https://image.tmdb.org/t/p/w342"+movie.posterPath;
                let card = $("<div>").addClass("card");
                const id = movie.movieId;
                card.on('click',function(){
                	location.href = "/api/movieDetail?movieId="+id;
                });
                let rankBadge = $("<div>").addClass("rank-badge").text(indexNo++);
                let img = $("<img>").addClass("card-img-top").attr("src", imgSrc).attr("alt", "this.src=/image/No_Image.jpg");
                let imgDiv = $("<div>").addClass("img-div").append(img);

                let cardBody = $("<div>").addClass("card-body");
                let title = $("<div>").addClass("card-title").text(movie.title);
                let info = $("<div>").addClass("card-info").text(movie.releaseDate);
                
                let rating = $("<div>").addClass("rating");
                //let ratingText = $("<span>").text(movie.rating);
                //rating.append(star);
                let genreInfo = $("<div>").addClass("genre-info");			
    			if((movie.genreIds).length==0){
    				genreInfo.text("");
    			}
                $.each(movie.genreIds, function(index, genre){
                	const p = $("<p>").append(genre);
                	genreInfo.append(p);
                });
                // 카드 조립
                cardBody.append(title, info, rating, genreInfo);
                card.append(rankBadge, imgDiv, cardBody);
                col.append(card);
                row.append(col);
            });
            slide.append(row);
            carouselContent.append(slide);
            slideIndex++;
        }
	}
	
	nowPlaying();
	trend();
	popular();
	comming();
	</script>
<th:block th:include="common/footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

</body>
</html>