<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LinkS 영화</title>
<link rel ="stylesheet" href="/css/contentDetail.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="back-drop">
			<img class="backdrop-img" th:src="@{'https://image.tmdb.org/t/p/original'+${movie.backdropPath}}">
			<div class="outline">
				<div class="title" th:text="${movie.title}"></div>	
				<div th:text="${movie.originalTitle}"></div>
				<div>
					<span th:text="${movie.releaseDate}"></span>
					<span th:text="${movie.originCountry}"></span>
				</div>
				<div th:text="${movie.runtime}+'분'"></div>
				<div>
					<th:block th:each="id : ${movie.genreIds}">
						<span th:text="${id}"></span>
					</th:block>
				</div>
			</div>
		</div>
		<section class="page-section" id="services">
		<div class="container">
			<div class="movie-wrap">
				<div class="poster">
					<img class="poster-img" th:src="@{'https://image.tmdb.org/t/p/w342'+${movie.posterPath}}">
				</div>
				<table class="table detail-tbl">
					<tr class="row-1">
						<td>
						<div class="star-rating star-hover">
							<input type="radio" id="5-stars" name="rating" value="5" >
							<label for="5-stars" class="star material-icons">star</label>
							<input type="radio" id="4-stars" name="rating" value="4"  />
							<label for="4-stars" class="star material-icons">star</label>
							<input type="radio" id="3-stars" name="rating"  value="3"  />
							<label for="3-stars" class="star material-icons">star</label>
							<input type="radio" id="2-stars" name="rating" value="2" />
							<label for="2-stars" class="star material-icons">star</label>
							<input type="radio" id="1-star" name="rating" value="1">
							<label for="1-star" class="star material-icons">star</label>
						</div>
						<div class="star-btn">
							<p class="fs-6" id= "mystar-check" style="display : none; color:#FFB200">이미 별점을 주었어요!</p>
							<button class="material-icons btn btn-primary rating" style="display : none;" data-bs-toggle="modal" data-bs-target="#rating"></button>
						</div>
						</td>
						<td>
							<div class="avg-star">
								<p id= "avg-star-input">아직 평가가 없어요 ㅠㅠ</p>
								<p class="fs-6 text-muted">평균 별점</p>
							</div>
						</td>
						<td>
						<!-- <span class="material-icons">favorite</span> -->
							<div class="btn-wrap">
								<th:block th:if="${session.member==null}">
								<span class="material-icons btn btn-primary toLogin" >favorite</span>
								<span class="material-icons btn btn-primary toLogin" >rate_review</span>
								</th:block>
								<th:block th:if="${session.member!=null}">
								<span class="material-icons btn btn-primary" id="like">favorite</span>
								<span class="material-icons btn btn-primary" id="comment" data-bs-toggle="modal" data-bs-target="#modal">rate_review</span>
								</th:block>
								<a id="link"><span class="material-icons btn btn-primary">link</span></a>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-box table-bordered" colspan='3'>
							<div class="fs-6" th:text="${movie.overview}"></div>
						</td>
					</tr>
				</table>
			</div>
			<div class="container mt-5">
				    <h2>코멘트 <span style="color: red; font-size:20px;" id="comment-count"></span></h2>
				    <span class="more-comments" style="display : none">더보기</span>
				    <div class="nocomment-msg"style="display : none">
				    	<p class="fs-4 mt-4">등록된 코멘트가 없어요.</p>
				    </div>
				<div class="comment-slider">
				    <div id="commentCarousel" class="carousel slide" data-bs-ride="carousel">
				        <div class="carousel-inner"></div>
				    </div>
				
				</div>
			</div>
			<div class="container mt-5">
			    <h2 class="text-left">Links 추천 영화</h2>
			    <div id="movieCarousel1" class="carousel slide" > <!-- data-bs-ride="carousel" -->
			        <div class="carousel-inner" id="carousel1"></div>
			        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel1" data-bs-slide="prev">
			            <span class="carousel-control-prev-icon"></span>
			        </button>
			        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel1" data-bs-slide="next">
			            <span class="carousel-control-next-icon"></span>
			        </button>
			    </div>
			</div>
			</div>
		</section>
		
		<!-- 코멘트 모달 -->
		<div class="portfolio-modal modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content write-modal">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container justify-content-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-15">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <span class="item-intro fs-1 fw-bolder" th:text="${movie.title}"></span>
                                    <span class="item-intro fs-1 fw-bolder text-muted">에</span>	
                                    <p class="item-intro fs-1 fw-bolder text-muted"> 코멘트를 남겨주세요 !</p>
                                    <div class="mb-3 text-left">
			                        	<label for="comment" class="form-label fs-3">코멘트</label>
  										<textarea class="form-control" id="content"  style="height:80%; background-color:rgba(255, 241, 0, 0.2); resize: none;"></textarea>
                                    </div>
                                    <div class="btn-wrap">
	                                    <button class="btn btn-primary btn-xl comment-submit" data-bs-dismiss="modal" type="submit">
	                                    	<span class="material-icons" style="font-size : 25px;">radio_button_unchecked</span>작성</button>		
	                                    <button class="btn btn-secondary btn-xl" data-bs-dismiss="modal" type="button">
	                                    	<span class="material-icons" style="font-size : 25px;">close</span>취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 별점 알림 모달 -->
        <div class="portfolio-modal modal fade" id="rating" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rating-modal">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container justify-content-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">	
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <div>
                                    	<span class="item-intro fs-1 fw-bolder" th:text="${movie.title}"></span>
                                    </div>
                                    <span class="item-intro fs-1 fw-bolder text-muted"> 당신의 별점은</span>
	                                <span class="item-intro fs-1 fw-bolder rating-input"></span>
	                                <span class="item-intro fs-1 fw-bolder text-muted">점 </span>
                                    <span class="item-intro fs-1 fw-bolder text-muted">입니다.</span>
                                    <div class="btn-wrap">
	                                    <button class="btn btn-primary btn-xl rating-submit" data-bs-dismiss="modal" type="submit">
	                                    	<span class="material-icons" style="font-size : 25px;">radio_button_unchecked</span>확인</button>		
	                                    <button class="btn btn-secondary btn-xl" data-bs-dismiss="modal" type="button">
	                                    	<span class="material-icons" style="font-size : 25px;">close</span>취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<script src = "/js/movieDetail.js"></script>
	<script th:inline="javascript">
	const movieId = [[${movie.movieId}]];
	const memberId = [[${session.member?.memberId}]];
	//내가준 별점 불러오기
	$("[name=rating]").on("click",function(){
		if(memberId==null){
			location.href="/member/loginFrm";
		}else{
			const value = $(this).val();
			$(".rating-input").text(value);
			$(".rating").click();
		}
	});
	//작업해
	$("#like").on("click",function(){
		if($(this).hasClass("liking")){
			//좋아요 누르는 작업해야함
			deleteContentLike();
			$(this).removeClass("liking");
		}else{
			insertContentLike();
			$(this).addClass("liking");
		}
	});		
	function insertContentLike(){
		$.ajax({
			url : "/contents/insertContentLike",
			data : {"contentNo":"m"+movieId, "memberId" : memberId},
			success: function(data){
			}
		})			
	}
	function deleteContentLike(){
		$.ajax({
			url : "/contents/deleteContentLike",
			data : {"contentNo":"m"+movieId, "memberId" : memberId},
			success: function(data){
			}
		})			
	}
	$(".rating-submit").on("click",function(){
		const value = $(".rating-input").text();
		$.ajax({
			url : "/contents/insertRating",
			type : "get",
			data : {"starpoint":value, "memberId":memberId, "contentNo": "m"+movieId},
			success : function(data){
				selectMemberInfo();
				selectMovie();
			}
		})
	});

	$(".comment-submit").on("click",function(){
		const commentContent = $(this).parent().prev().find("#content").val();
		 
		$.ajax({
			url : "/comment/insertComment",
			type : "post",
			data : {"contentNo" : "m"+movieId, "memberId":memberId,"commentContent" : commentContent},
			success: function(data){
				if(data>0){
					commentList(movieId);
				}
			}
		});
	})
	function selectMovie(){
		 $.ajax({
				url : "/contents/selectMovie",
				type : "get",
				data : {"movieId":movieId},
				success: function(data){
					console.log("movie 조회결과 : "+ data);
					if(data==""){
						console.log("null결과 : "+ data);
						const movieTitle = [[${movie.title}]];
						const posterPath = [[${movie.posterPath}]];
						$.ajax({
							url : "/contents/insertMovie",
							type : "post",
							data : {"movieId":movieId, "movieTitle" : movieTitle, "posterPath" : posterPath},
							success: function(data){
								
							},
							error : function(){
								console.log("insert error");						
							}
						})
					}else{
						if(data.movieAvgPoint==null){
							$("#avg-star-input").text("아직 평가가 없어요 ㅠㅠ");
						}else{
							$("#avg-star-input").text(data.movieAvgPoint).addClass("fs-2");
						}
						$("#link").attr("href",data.moviePlatform);
					}
				},
				error : function(){
					console.log("select error");						
				}
			});
	 };
		function selectMemberInfo(){
			if(memberId!=null){
				$.ajax({
					url : "/contents/selectMemberStar",
					data :{"memberId" : memberId, "contentNo" : "m"+movieId},
					success : function(data){
						console.log(data);
						if(data>0){
							$(".star-rating").removeClass("star-hover");
							$(".star-rating>input+label").removeAttr("for");
							for(let i=0; i<data; i++){
								$("[name=rating]").eq(4-i).prop("checked",true);
							}
							$(".rating").removeClass("rating");
							$("#mystar-check").css("display","block");
						}
					}
				});
				console.log(memberId);
				$.ajax({
					url : "/contents/selectMemberLike",
					data :{"memberId" : memberId, "contentNo" : "m"+movieId},
					success : function(data){
						console.log(data);
						if(data>0){
							$("#like").addClass("liking");
						}
					}
				})
			}
		}
	$(".toLogin").on("click",function(){
			location.href= "/member/loginFrm";
	});
	function recommend(){
		$.ajax({
			url : "/api/recommend",
			type : "get",
			data :{"movieId": movieId},
			success : function(movies){
				const carouselContent = $("#carousel1");
				makeSlide(movies,carouselContent);
			}    
		});
	}

	selectMovie();
	selectMemberInfo();
	commentList(movieId);
	recommend();
	</script>
	<th:block th:include="common/footer"></th:block>
</body>

</html>