<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>영화</title>
<style>
	.back-drop{
		margin-top : 80px;
		margin-bottom : 50px;
		width : 100%;
		height : 550px;
		position : relative;
		
	}
	.backdrop-img{
		position: absolute; top:0; left: 0;
	  	width: 100%;
	  	height: 100%;
	}
	.detail-tbl{
		margin-left : 20px;
	}
	.star-box .material-icons{
		color : var(--bs-yellow);
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="back-drop">
			<img class="backdrop-img">
		</div>
		<div class="container d-flex">
			<div class="poster">
				<img class="poster-img">
			</div>
			<table class="table  detail-tbl">
				<tr>
					<td>
					<div class= "star-box">
						<span class="material-icons">star</span>
						<span class="material-icons">star</span>
						<span class="material-icons">star</span>
						<span class="material-icons">star</span>
						<span class="material-icons">star</span>
					</div>
					</td>
					<td class="avg-star">
						<p>3.2</p>
						<p>평균 별점</p>
					</td>
					<td class="">
						<span class="material-icons">favorite_border</span>
						<!-- <span class="material-icons">favorite</span> -->
						<span class="material-icons">rate_review</span>
						<span class="material-icons">link</span>
					</td>
				</tr>
				<tr>
					<td colspan='3'>
						<div class="text-box table-bordered">
						멋진 영화에용
						</div>
					</td>
				</tr>
			</table>			
		</div>
	<th:block th:include="common/footer"></th:block>	
</body>
<script>
	let movieId =0;
	$.ajax({
		url : "/api/movie",
		type : "get",
		success : function(data){
			const json = JSON.parse(data);
			movieId = json.results[0].id
			console.log(movieId);
			$.ajax({
				url : "/api/movieId",
				type: "get",
				data: {movieId : movieId},
				success : function(data){
					const movie = JSON.parse(data);
					console.log(movie);
					const imgPath = "https://image.tmdb.org/t/p/original"+movie.backdrop_path;
					//console.log(imgPath);
					$(".backdrop-img").attr("src",imgPath);
					
					const posterPath = "https://image.tmdb.org/t/p/w342"+movie.poster_path;
					$(".poster-img").attr("src",posterPath);
					
					const overview = movie.overview;
					$(".text-box").text(overview);
				}
			});
		}
	});
	function seletMovie(id){
		$.ajax({
			url : "/api/movieId",
			type: "get",
			data: {movieId : movieId},
			success : function(data){
				console.log(data);
			}
		});
	}

</script>
</html>